<div class="my-task">
  <%= turbo_frame_tag "task_#{task.id}" do %>
    <div class="d-flex justify-content-center">
      <div class="row w-50 d-flex border border-secondary my-3 py-2" >
        <div class="col-7 text-center">
          <%= link_to task.description, task_path(task), class: "text-decoration-none",
          data: { turbo_frame: "_top"} %>
        </div>
        <div class="col-auto form-check">
          <%# <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" data-action="input->checkbox#mark_checkbox"> %>
          <%= check_box_tag 'flexCheckDefault', '', false,
          class: 'form-check-input',
          id: "my_task_#{task.id}",
          data: { action: 'input->checkbox#mark_checkbox' } %>
          <label class="form-check-label" for="flexCheckDefault">
          </label>
        </div>
        <div class="col-auto">
          <%= link_to 'Edit', edit_task_path(task), class: "btn btn-outline-primary px-4" %>
        </div>
        <div class="col-auto">
          <%= link_to "Destroy", task_path(task), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"},
          class: "btn btn-outline-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
